{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'index' %}">Agregar Evento <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="{% url 'enlistar' %}">Enlistar evento <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#">Editar evento <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

