h1 {
    color: rgb(0, 0, 0);
    text-align: center;

}
/*navbar*/

.navbar-expand-lg
{
    background-color:rgb(190, 205, 240);
    text-align: center;
    align-items: center;
}

.navbar
{
    background-color: #7baee5;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #8b94dc;
}


/* Estilos generales para el botón */
.button{
    display: inline-block;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4898ee; /* Color de fondo */
    color: white; /* Color del texto */
    border: 1px solid #000000; /* Borde del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer;
    transition: background-color 0.3s;
    
}
